.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* .imgSlide {
    height: 420px;
} */
.img-fix {
    max-width: 100%;
    max-height: 100%;
}
.opacity-bc {
    background-color: white;
    opacity: 80%;
}