.navbar {
    background-color: transparent !important;
}
.nav-item {
    color: #FFE066 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
p1 {
    font-size: 25px;
    color: #17564E;
    font-family: 'Poppins', sans-serif;

}